<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDC0h1qV1_qw5kw8mUoZZBJzF-9t60pKa4</string>
	<key>GCM_SENDER_ID</key>
	<string>416095109609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shibuya.buddy</string>
	<key>PROJECT_ID</key>
	<string>shibuya-buddy</string>
	<key>STORAGE_BUCKET</key>
	<string>shibuya-buddy.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416095109609:ios:1d4bc6f8883713b28d0b78</string>
</dict>
</plist>