<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346265803262-e0lp7h85rep4cjareko3no2ir79g86u9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346265803262-e0lp7h85rep4cjareko3no2ir79g86u9</string>
	<key>API_KEY</key>
	<string>AIzaSyAADyxmCZweM0U9yNQeFI6FxJ7OKJ8uD4w</string>
	<key>GCM_SENDER_ID</key>
	<string>346265803262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shibuya.buddy.dev</string>
	<key>PROJECT_ID</key>
	<string>shibuya-buddy-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>shibuya-buddy-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346265803262:ios:2bb6114de5aff3657b08af</string>
</dict>
</plist>